html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.no-menu {
    text-align: center;
    padding: 50px 20px;
}

.no-menu h2 {
    color: #7B868C;
    margin-bottom: 20px;
}

.no-menu .btn {
    background-color: #CE0E2D;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.no-menu .btn:hover {
    background-color: #A10D20;
}